# macOS
.DS_Store

# Swift Package Manager
/.build/
/Packages
.swiftpm/

# Xcode
xcuserdata/
DerivedData/

# Xcode project files
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcshareddata
*.xcodeproj/xcuserdata

# Environment configuration files
MarvelDemo/Config.xcconfig

# Build
/build/
.idea/
